<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<br>
<form th:method="PATCH" th:action="@{/edit(id=${user.getId()})}" th:object="${user}">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" th:text="${user.getId()}"></th>
      </tr>
      </thead>
    </table>

    <label>Name:</label>
    <input type="text" th:field="*{firstName}"/>
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}"/>
  </div>
  <div>
    <label>Email:</label>
    <input type="text" th:field="*{email}"/>
  </div>
  <br>
  <div>
    <button type="submit">Update User</button>
  </div>
</form>
</body>
</html>